<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gif2Sheet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gif2Sheet.Properties.Settings>
            <setting name="BetweenFrameColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="BetweenFrameWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DestBackgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="DrawFlipped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FramesPerRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrcBackgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>1</value>
            </setting>
        </Gif2Sheet.Properties.Settings>
    </userSettings>
</configuration>